.address {
  color: #007bff;
  font-size: 15px;
}
.heading {
  margin-top: 50px;
  /* background-color: antiquewhite; */
  color:#007bff;
  margin-left : 150px;
  margin-right: 150px;
}
.address_space {
  padding:3% 30% 3% 30%;
  
}
.scroll {
  overflow-x: scroll;
  overflow-y: scroll;
  text-align: center;
  height:400px;
}
.add_padding {

}


.search {
  padding:10% 30% 5% 30%;
}