.alignModal {
  margin-top: 50px;
  /* background-color: antiquewhite; */
  margin-left : 150px;
  margin-right: 150px;
}

.btnCenter {
  margin: 2% 2% 0 1%;
  border: 2px solid rgb(167, 166, 166);
  
  padding: 3px 3px 0px 3px;
}

.heading {
  padding:2%;
  margin-left: 40%;
  text-decoration: underline;
  color:#0d6efd;
}
.patientDetails {
  float:right;
}
.space {
  padding-right:7px;
}

