.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.calendar-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
  height: 50px !important;
}
.appointment-time .list-group-item {
  cursor: pointer;
}
.appointment-time .list-group-item:nth-child(2n+1) {
background-color: #f9f9f9;
}
.appointment-time .list-group-item.active {
  background-color: #212529;
}
.appointment-time .list-group-item:hover {
  background-color: #b5c8e8;
  color: #333;
}
.Instructions{
  font-size: 1rem;
}
.Instructions h3,h2,h1,h4,h5{
  margin-bottom: 1rem;
  font-weight: 700;
}
.Instructions .col-md-6{
  margin-top: 1.5rem;
}